.kolomfoto{
    text-align:right;
    margin-top: 80px;

}

.fotogue{
  margin:50px;
  margin-left: 80px;
}

.kolomig{
  text-align: center;
  margin-top: 80px;
}

.igsimbol{
  margin-top: 120px;
}

.kolomnama{
  text-align: left;
  margin-top: 130px;
}

.bagian4{
  margin-top: 90px;
}
